body{
  margin:0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2{
  font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.skillsImage{
/*    width: 25%;
    margin-right: 30px;  */
}
.pro{
  text-decoration: underline;
}
.top-container{
  background-color: #ffb6b6;
  position: relative;
  padding-top: 100px;

}

.intro-container{
  background-color: #fde2e2;
  text-align: center;
  font-family: 'Merriweather', serif;
  height:100%;
  padding-top: 80px;


}

.profile{
  font-size: 1.5em;
  position: relative;
  padding-bottom: 200px;

}

.hello{
  font-size: 2em;
  color: #ffb6b9;
}

.intro-content{

    color: #545454;
}

.skills-container{
  background-color: #cff1ef;
  padding-top: 100px;

}
.my-skills-heading{
  position:relative;
  top:-50px;
}

.bottom-container{
  background-color: #679b9b;
  padding-top: 300px;
}

.develop-image {
      display: inline-block;
      vertical-align: top;

  }
  .develop-text {
      color: #005082;
      display: inline-block;
      width: 46%;
      padding-top:90px;
  }

.design-text{
  color: #005082;
  display: inline-block;
  width: 46%;
  vertical-align: top;
  padding-top:90px;
  padding-bottom: 90px;
}

.design-image{
  display: inline-block;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
}

.smily-icon{
  padding-top: -10px;

}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me{
  padding: 50px 0 20px;
  background-color: #204051;
}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:footer-link{

  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  padding-top: 20px;

}

a:hover {
  color: #EAF6F6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
